<div>
  @if (basicStatusStore.currentInput() === 'NET RADIO') {
    @if (netradioService.status(); as status) {
      <div class="radio-info">
        <span class="radio-station">{{ status.station | fixAmp }}</span>
        <span class="radio-song">{{ status.song | fixAmp }}</span>
      </div>
    }
  }
  @if (basicStatusStore.currentInput() === 'Spotify') {
    @if (spotifyService.status(); as status) {
      <div class="radio-info">
        <span class="radio-station">{{ status.artist | fixAmp }}</span>
        <span class="radio-song">{{ status.album | fixAmp }}</span>
        <span class="radio-song">{{ status.track | fixAmp }}</span>
      </div>
    }
  }
  @if (basicStatusStore.currentInput() === 'SERVER') {
    @if (serverService.status(); as status) {
      <div class="radio-info">
        <span class="radio-station">{{ status.artist | fixAmp }}</span>
        <span class="radio-song">{{ status.album | fixAmp }}</span>
        <span class="radio-song">{{ status.song | fixAmp }}</span>
      </div>
    }
  }
  @if (basicStatusStore.currentInput() === 'AirPlay') {
    @if (airplayService.status(); as status) {
      <div class="radio-info">
        <span class="radio-station">{{ status.artist | fixAmp }}</span>
        <span class="radio-song">{{ status.album | fixAmp }}</span>
        <span class="radio-song">{{ status.song | fixAmp }}</span>
      </div>
    }
  }
</div>
