<div class="yamaha-sleep">
  <button
    (click)="toggleSleep(basicStatusStore.sleep())"
    [class.button-glow]="
      basicStatusStore.sleep() && basicStatusStore.sleep() !== 'Off'
    "
    [disabled]="!basicStatusStore.on()"
    [matTooltipShowDelay]="500"
    [matTooltip]="
      basicStatusStore.sleep() !== service.sleepStates[0]
        ? 'Sleep timer was set to ' + basicStatusStore.sleep()
        : 'Sleep Off'
    "
    id="sleepButton"
    mat-mini-fab
  >
    <mat-icon>snooze</mat-icon>
  </button>
</div>
