//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@use './colors';

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-button-toggle.mat-button-toggle-checked > button {
  color: colors.$primary-color;
}
