//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif
}
