@use '@angular/material' as mat;

@import '@angular/material/theming';
@import 'app/components/net-radio-list/net-radio-list.theming';
@import 'app/components/play-mode/play-mode.theming';
@import 'app/components/sleep/sleep.theming';
@import 'app/components/remote-main/remote-main.theming';

@include mat.core();

$angular-primary: mat.define-palette(mat.$red-palette, 500, 100, 900);
$angular-contrast: mat.define-palette(mat.$red-palette, 900, 100, 900);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$angular-warn: mat.define-palette(mat.$deep-purple-palette);

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-primary,
      warn: $angular-warn
    )
  )
);

$primary-color: mat.get-color-from-palette($angular-primary, default);

@include mat.all-component-colors($angular-dark-theme);

@include net-radio-list-theme($angular-dark-theme);
@include play-mode-theme($angular-dark-theme);
@include sleep-theme($angular-dark-theme);
@include remote-main-theme($angular-dark-theme);

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: mat.get-color-from-palette($angular-contrast, default);
}
