<ng-template #navigation let-state="state">
  <button (click)="skipPrevious()" mat-button>
    <mat-icon>skip_previous</mat-icon>
  </button>
  @if (currentInput() === 'SERVER') {
    <button (click)="stop()" mat-button>
      <mat-icon>stop</mat-icon>
    </button>
  }
  @if (['Stop', 'Pause'].includes(state().status?.playback)) {
    <button (click)="play()" mat-button>
      <mat-icon>play_arrow</mat-icon>
    </button>
  }
  @if (state().status?.playback === 'Play') {
    <button (click)="pause()" mat-button>
      <mat-icon>pause</mat-icon>
    </button>
  }
  <button (click)="skipNext()" mat-button>
    <mat-icon>skip_next</mat-icon>
  </button>
</ng-template>
@if (['Spotify', 'SERVER', 'AirPlay'].includes(currentInput())) {
  <mat-card class="net-radio-nav-button-bar">
    <ng-container
      *ngTemplateOutlet="navigation; context: { state: getState() }"
    >
    </ng-container>
  </mat-card>
}
