@import '~@angular/material/theming';

@mixin net-radio-list-theme($theme) {

  $primary: map-get($theme, primary);

  .net-radio-list {
    .mat-nav-list {
      background-color: lighten(#2c2c2c, 10%);
      padding-bottom: 10px;
      overflow-y: auto;

      .mat-list-item.selected {
        background-color: #2c2c2c;
      }
    }
  }
}
