.net-radio-list {
  width: 300px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;

  .mat-button {
    max-width: 80px;
  }

  .mat-nav-list {
    padding-bottom: 10px;
    overflow-y: auto;
  }
}

.spinner {
  display: flex;
  align-items: center;
  height: 402px;
  justify-content: center;
}

